<div id="navigation_orange">
	<ul class="navi"><p>
		<li><strong><%= link_to "WMO Adviesraad", about_path %></a></li></strong>
		<li><strong><%= link_to "| Werkgroep Toegankelijkheid |", '/over_wgt' %></a></li></p></strong>
	</ul>
</div>

<div id="content"><!-- Hier begint de content -->
<h1 id= "orange">Over de Werkgroep Toegankelijkheid</h1>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis consequat volutpat lectus in iaculis. 
Nam sit amet orci et neque auctor suscipit in ut nibh. Etiam ac nibh sapien, eget auctor sapien. Etiam mollis imperdiet arcu. 
Quisque accumsan posuere urna, quis laoreet leo rutrum a. Nunc porttitor felis neque. Nunc euismod lacinia tellus, nec scelerisque metus 
condimentum sit amet. Cras venenatis lacus at erat sagittis condimentum. Sed eget velit neque. Donec accumsan adipiscing consequat. 
Vivamus eu arcu ac lectus scelerisque pharetra. Duis dolor erat, dictum blandit lobortis id, accumsan vel ipsum. Vestibulum ante ipsum primis 
in faucibus orci luctus et ultrices posuere cubilia Curae; Ut orci libero, porta sit amet feugiat ut, egestas at purus. Vestibulum venenatis 
facilisis dignissim. Quisque ac feugiat odio.</p>
</div>