<div id="navigation_green">
	<ul class="navi"><p>
		<li><strong><%= link_to 'Prestatievelden 3-6', prestatievelden_path %></a></li></strong>
		<li><strong><%= link_to '| Afkortingen', '/afkortingen' %> </a></li></strong>
		<li><strong><a href="#">| Tips </a></li></strong>
		<li><strong><a href="#">| Downloads | </a></li></strong>
	</ul>
</div>

<div id="content">
	<h1 id="green">Prestatievelden 3-6</h1>
		<p>
		Onder de prestatievelden 3, 4, 5 en 6 vallen de volgende dingen:
		</p>

	<h2 id="green">
		<p>Prestatieveld 3 (informatie, advies en cliëntondersteuning)
		</p>
	</h2>
		<p>
		De WMO adviesraad geeft informatie en advies aan de burgers om het verloop in de maatschappij te versoepelen. Het advies wat gegeven wordt is erg divers en kan over alle zaken gaan. Bijvoorbeeld over algemene voorzieningen als informatiepunten. Maar ook specifieker zoals individueel advies. Bijvoorbeeld dat een slechtziende iets wil ondernemen maar niet weet hoe het moet en wat de makkelijkste manier is.
		</p>

	<h2 id="green">
		<p>
		Prestatieveld 4 (Mantelzorgers en vrijwilligers)
		</p>
	</h2>
		<p>
		Mantelzorg is langdurige zorg voor bijvoorbeeld gehandicapten door familie, vrienden. Het is intensief en zwaar. Daarom wordt het begeleid en ondersteund door de WMO.
		</p>

	<h2 id="green">
		<p>
		Prestatieveld 5
		</p>
	</h2>
		<p>
		Hier gaat het om algemene maatregelen om inwoners te stimuleren om deel te nemen aan de maatschappij. Dit is bijvoorbeeld bedoeld om kwetsbare groepen weer actief mee te laten doen aan het sociale leven.
		Ook de toegankelijkheid van openbare ruimten zoals het station en musea of algemene voorzieningen zoals rolstoelvervoer of gehandicaptentoilet vallen onder dit prestatieveld.
		<p>

	<h2 id="green">
		<p>
		Prestatieveld 6
		</p>
	</h2>
		<p>
		Hier worden mensen met een beperking of chronisch psychisch of psychosociaal probleem die niet zonder hulp kunnen functioneren geholpen. Het doel is om beter zelfstandig te kunnen functioneren. Voorbeelden zijn rolstoelen, gehandicaptenvervoer, woningaanpassingen en thuiszorg.
		</p>
</div>